body {
    height: calc(100vh-8em);
    cursor: none;
    padding: 4em;
    color: #979eae;
    background: #2c3e50;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #3498db, #2c3e50);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #3498db, #2c3e50); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
}
.container {
    width: 100%;
    height: 42vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }

.start{
    position: relative;
    font-family: 'Inconsolata', monospace;
    top: -120px;
    width: 16em;
    margin: 0 auto;
    font-size: 250%;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-100%);
    color: white;
    animation: move 2s ease;
}

@keyframes move{
    0%{top:55%;}
    25%{top:55%;}
    100%{top: -120px;;}
}

html {
    cursor: none;
    min-height: 100%;
    overflow:hidden;
}

/*Animation*/

.cursor{
    position: fixed;
    width: 20px;
    margin-top: -11.5px;
    margin-left: -11.6px;
    height: 20px;
    border-radius: 50%;
    background-color: white;
    pointer-events: none;
    transition: transform ease 200ms;
    z-index: 1000;
    cursor: none;
    box-shadow: 0 0 20px white,
                0 0 60px white,
                0 0 100px white;
}
.grow, .grow-small{
    cursor: none;
    transform: scale(.5);
    border: 2px solid white;
}
.grow-small{
    cursor: none;
    transform: scale(1.5);
}
@keyframes come{
    0% {
        transform: scale(0);
    }
    10%{
        transform: scale(1) translateY(0px);
        opacity: 1;
    }
    100%{
        transform: scale(0) translateY(0px);
        opacity:0;
    }
}